# Screening Products Income Verification (System Preferences)

Source: https://rmxhelp.rentmanager.com/Topics/Express/Other/System-Preferences/Screening-Products-Income-Verification.htm

Rent Manager has partnered with AmRent to provide the ability to verify a prospect or tenant’s claimed income from within Rent Manager . These preferences allow you to establish default options when running income verifications and select letter templates that can be sent to recipients regarding the status of their verification.

 More Information

 To use this feature, you must have a contract with AmRent and enter income verification credentials in system preferences. For more information, refer to Set Up Income and ID Verification .

 Related Privileges

 Group
 Privilege
 Column

 System
 System Preferences
 View, Edit

 For more information, refer to Control User Access .

 To set these system preferences, do the following:

 -
 Go to arrow_forward Administration , then go to Preferences arrow_forward System Preferences arrow_forward Screening Products arrow_forward Income Verification .
The System Preferences: Screening Products - Income Verification page displays.

 -
 Edit the settings as desired. Each setting is described in the headings below.

 -
 Click Save .
The system preference configuration is updated.

 Options

 In this section, determine your general income verification settings.

 Option
 Description

 Adverse Action Letters

 The available letter template(s) when sending a letter to prospects or tenants who were screened with income verification requests. For example, you may want to include templates to inform prospects that their application was rejected due to the results of the verification, or to inform them of an issue with their verification request. For more information, refer to Inform an Applicant of Adverse Screening Results .

 Default Delivery Method

 The delivery method(s) for the letter templates ( Text Message or Email ) to be automatically checked when an income verification is run.

 Use contact default address for income verifications

 If checked, income verifications are run using the address marked as Default  on each contact of the account. If unchecked, all contacts' income verifications are run using the address marked as Default for the primary account.
